extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Image Upload
  form(method='POST', action="/image", enctype="multipart/form-data")
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='image') Upload Image
      .col-md-7
        input.form-control(type='file', name='image', id='image')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='caption') Caption
      .col-md-7
        textarea.form-control(placeholder='Message', name='caption')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='sign_off') Sign off
      .col-md-7
        input.form-control(type='text', name='sign_off', id='sign_off')
    
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit')
        | Submit
